
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: auto;
    width: auto;
    /* border: 2px solid red; */
    
}
.header{
    width: auto;
    height: 15vh;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: black;
    text-align: center;
    
}

.button{
    display: flex;
    background-color: black;
    color: aliceblue;
    justify-content: center;
    width: 33%;
    height: 100%;
    align-items: center;
    text-size-adjust: 60%;
    
}
.a{
    text-decoration: none;
    color:white;
}


.h1{
    /* border: 2px solid black; */
    text-align:center
}

.div{
    /* border: 2px solid magenta; */
    display: flex;
    height: 80%;
}

.divIn{
    /* border: 2px solid yellow; */
    height: 100%;
    display: flex;

}

.figure{
    /* border: 2px solid green; */
    display: flex;
    width: 85vw;
    align-items: center;
    justify-content: center;
}

.img{
    /* border: 2px solid aqua; */
    width: 90%;
    height: 90%;
}

.lorem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
    width: 80%;
    text-align: center;
    margin-right: 20px;
}

@media screen and (max-width:850px){
    .div{

         flex-direction: column;
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
    }
    .divIn{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
         justify-content: center;
    }
    .figure{
        margin-bottom: 1vh;
    }
}   







@media screen and (max-width:550px){
    .div{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
   }
   .lorem{
       text-align: center;
       margin-left: 10%;
   }
   .figure{
    display: none;
   }
}