*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: auto;
    width: auto;
    /* border: 2px solid red; */
    
}
.header{
    /* border: 2px solid blue; */
    width: auto;
    height: 15vh;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: black;
    text-align: center;
    
}

.button{
    display: flex;
    background-color: black;
    color: aliceblue;
    justify-content: center;
    width: 33%;
    height: 100%;
    align-items: center;
    text-size-adjust: 60%;
    text-decoration: none;
    
}
.a{
    text-decoration: none;
    color:white;
}




.div{
    /* border: 2px solid green; */
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.divIn{
    /* border: 2px solid red; */
    display: flex;
    width: 33.02vw;
    height: 42.5vh;
    justify-content: center;
    align-content: flex-start;
    margin: 0%;
    

}


.img{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
}
 




@media screen and (max-width:850px){
    .div{
         flex-direction: column;
         flex-wrap: wrap;
    }
    .divIn{
        width: 100%;
    }
    
}







@media screen and (max-width:550px){
    .div{
        flex-direction: column;
        flex-wrap: wrap;
   }
   .section2{
       text-align: center;
   }
   .divIn{
    width: 550px;
}
}