
.gridContainer{
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr  2fr 1fr 2fr  ;
    grid-template-rows: 70vh ;
}

.a{
    background-color: rgb(193, 243, 12);
    color: white;
    font-size: x-large;
    text-align: center;
}

.b {
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
}
.c {
    background-color: rgb(193, 243, 12);
    color: white;
    font-size: x-large;
    text-align: center;
}
.d {
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
}
.e {
    background-color: rgb(193, 243, 12);
    color: white;
    font-size: x-large;
    text-align: center;
}
.f {
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
}