*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body{
    width: auto;
    height: auto;
    position: relative;
}

.header{
    /* border: 2px solid black; */
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 17vh;
    width: 100%;
    
    position:absolute;
    
    
    top: 0px;
    bottom: 17vh;
}

.div1Head{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 3%;
    font-size: 200%;
}


.div2Head{
    /* border: 2px solid black; */
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10%;
}

.button{
    background-color: white;
    border: 0px;
    padding: 2%;
}
.a{
    text-decoration: none;
    color: black;
}
.a:hover{
    background-color: black;
    color: white;
}
.button:hover{
    background-color: black;
    color: white;
    transition: 1s;
}
.margen{
    width: 100%;
    height: 17vh;
}
/* FINAL DE HEADER/////////////////////////////////////// */

.divHome{
    /* border: 2px solid red; */
    width: 100%;
    height: 80vh;
    display: flex;
    position:static;
    
    
}

.section1Home{
    /* border: 2px solid black; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.divPres{
    /* border: 2px solid black; */
    border-left: 1px solid black;
    height: 61%;
    margin-right: 9%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: x-large;

}
.h1Pres{
    padding-bottom: 5%;
    
}

.section2Home{
    /* border: 2px solid black; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
}

.divPres2{
    /* border: 2px solid black; */
    border-left: 1px solid black;
    height: 61%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 2%; */
    position: relative;


}
.frame1{
    /* border: 2px solid black; */
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin-left: 2%;
    font-size: medium;

}
.form{
    /* border: 2px solid green; */
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.h2{
    margin-bottom: 10%;
}
.input{
    border: 0ch;
    border-bottom: 1px solid black;
    height: 20%;
    width: 100%;
    margin-bottom: 5%;

}
.input:active{
    border: 0ch;
}
.buttonsend{
    background-color: black;
    color: white;
    border: 0px;
    padding: 2%;
}




/* FOOTER /////////////////////////////*/

.footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 3vh;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-top: 0.2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    bottom: 0px;


}
