*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body{
    width: auto;
    height: auto;
    position: relative;
}

.header{
    /* border: 2px solid black; */
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 17vh;
    width: 100%;
    
    position:absolute;
    
    
    top: 0px;
    bottom: 17vh;
}

.div1Head{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 3%;
    font-size: 200%;
}


.div2Head{
    /* border: 2px solid black; */
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10%;
}

.button{
    background-color: white;
    border: 0px;
    padding: 2%;
}
.a{
    text-decoration: none;
    color: black;
}
.a:hover{
    background-color: black;
    color: white;
}
.button:hover{
    background-color: black;
    color: white;
    transition: 1s;
}
.margen{
    width: 100%;
    height: 17vh;
}
/* FINAL DE HEADER/////////////////////////////////////// */

.divHome{
    /* border: 2px solid red; */
    width: 100%;
    height: 77vh;
    display: flex;
    position:static;
    
    
}

.section1Home{
    /* border: 2px solid black; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.divPres{
    /* border: 2px solid black; */
    border-left: 1px solid black;
    height: 61%;
    margin-right: 9%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: x-large;

}
.h1Pres{
    padding-bottom: 5%;
}

.section2Home{
    /* border: 2px solid black; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
}

.divPres2{
    /* border: 2px solid black; */
    border-left: 1px solid black;
    height: 61%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 2%; */
    position: relative;


}
.frame{
    /* border: 2px solid black; */
    width: 48%;
    height: 47%;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    margin-left: 2%;
    
    

}
.frame:active{
    width: 99%;
    height: 100%;
    transition: 3s;
    position: absolute;
    top: 0%;
    left: 0%;
    
    
}
.marco{
    /* border: 1px solid red; */
    display: flex;
    height: 99%;
    width: 99%;
}
.img{
    height: 100%;
    width: 100%;
}


/* FOOTER /////////////////////////////*/

.footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 3vh;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-top: 0.2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    bottom: 0px;


}
